<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Simple explorations of the question, “what is a leader?” include:

                A leader is someone who inspires passion and motivation in followers.

                A leader is someone with a vision and the path to realizing it.

                A leader is someone who ensures their team has support and tools to achieve their goals.
    </p>
    <hr>
    <a th:href="@{/}"> Back to home</a>
</body>
</html>